@import url(reset.css);

body {
    background: #eee;
}

* {
    font-family: "Roboto";
}

div {
    width: 400px;
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    background: #777;
    color: #fff;
    text-align: center;
    transition: width 0.5s ease-in-out;
}

img {
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    opacity: 0.85;
    cursor: pointer;
}

img:hover {
    opacity: 1;        
}

h1, h2 {
    padding: 20px;
    font-family: "Source Code Pro";
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.85em;
}

p {
    padding: 0 20px 20px 20px;
    font-family: "Roboto";
}

#spell {
    width: calc(100% - 120px);
}

#return, #register-msg, #do-register {
    width: 100%;
}

#cast-spell {
    width: 60px;
    margin-left: 10px;
}

.link, a {
    color: #BBBBFF;
    text-decoration: underline;
}
textarea, input[type="text"] {
    outline: none;
    resize: none;
}

#register-name {
    margin-left: 1em;
    width: 200px;
}

i {
    font-style: italic;
}
